# Custom RPC URLs must be defined with the chain ID as the identifier. Ex:
RPC_URL_8453="https://mainnet.base.org/"

# Private key for transactions are also defined with the chain ID as the identifier. Ex:
PRIVATE_KEY_8453="0x0123...0123"
